/* section{
    border-style: solid;
    border-color: red;
} */

/* #forecast .card-body {
    padding-left: 3%;
    padding-right: 3%;
} */

header {
    background-image: linear-gradient(to bottom right, blue, purple);
}

.input-group-append {
    margin: 5% 0;
}

.list-group button {
    margin: 1% 0;
}

.hide {
    display: none;
}

#forecast .card {
    width: 10rem;
    border-radius: 0;
    background-color: #20315A ;
    color: white;
}

